.text-center
  %p{ data: { load: "#{memberships_path(email: user.email)}" }}
    = t('.asking')
    %br
    %br
    %span.loading{ style: "color: #F5003D" }= t('.loading')
  
:coffeescript
  $("p[data-load]").filter(":visible").each ->
    path = $(this).attr('data-load')
    $(this).load path, (response, status, xhr) ->
      $(this).removeClass("loading")
      if status == "error"
        $(this).html("#{t('.error')}")
