.text-center
  %p{ data: { load: "#{memberships_path(email: current_user.email)}" }}
    = "You've supplied enough information to proceed. We're just asking our database if you have an existing membership."
    %br
    %br
    %span.loading{ style: "color: #F5003D" }= "Checking"
  
:javascript
  $("p[data-load]").filter(":visible").each(function(){
    var path = $(this).attr('data-load');
    $(this).load(path, function(response, status, xhr){
      $(this).removeClass("loading");
      if (status == "error"){
        $(this).html("There was an error getting information from the database.")
      }
    });
  })
