.text-center
  %p{ data: { load: memberships_path(email:      user.email,
                                     first_name: user.profile.given_name,
                                     last_name:  user.profile.family_name,
                                     claim_id:   claim.id) }}
    = t('.asking')
    %br
    %br
    %span.loading{ style: "color: #F5003D" }= t('.loading')
  
:coffeescript
  $("p[data-load]").filter(":visible").each ->
    path = $(this).attr('data-load')
    $(this).load path, (response, status, xhr) ->
      $(this).removeClass("loading")
      if status == "error"
        $(this).html("#{t('.error')}")
