%p= t('.description')

= form_for(claim, html: { class: "form", multipart: true }) do |f|
  = f.hidden_field :submitted_for_review, value: true  
  .actions.text-center= f.submit t('.commit'), class: "btn btn-lg btn-default"
