-# %section#introduction
-#   %h3{ role: "presentation" }
-#     = t('views.claims.new.title')
-#   :markdown
-#     #{ t('views.claims.new.intro') }
-# 
-# = render 'form', locals: { remote: true }
