%h2 Organisations

%table.table.table-sm
  %thead
    %tr
      %th Name
      %th Short name
      %th
      %th

  %tbody= render @supergroups

%hr
.actions.align-right
  = link_to 'New Organisation', new_admin_supergroup_path, class: "btn btn-default"
