:markdown
  #### WHAT IS THIS?

  Hello and welcome to the NUW's underpayment calculator! The calculator has
  been developed as a tool to quickly ascertain whether workers have been paid
  the bare minimum required under Australian law. For members of the NUW, we
  will also make attempts to recover any money that you are owed!

  #### WHY WE MADE IT.

  Workplace law is complex. Normally, something like an underpayment case can
  involve a lot of work just to figure out how much is owed. That's not even
  getting started on recovering the money yet!

  At the same time, underpayments are widespread in a number of industries,
  and among some groups of workers, such as backpackers and students.

  #### HOW IT WORKS.

  The calculator simplifies some elements of workplace law and completely
  disregards others. These decisions __favour the employer__, but nonetheless
  hold that employer to minimum standards of employment.

  For any given industry, the calculator will use only the lowest allowable rate
  of pay for an adult. Loadings and penalties that would otherwise increase your
  rate of pay—such as shift loadings and working on public holidays—may also
  be minimised or ignored.

  #### IS THIS FOR ME?

  Even these "minimum" standards don't apply to everyone. There are provisions
  in Australian law for __[under 21s](https://www.fairwork.gov.au/pay/minimum-wages/junior-pay-rates)__,
  __[trainees](https://www.fairwork.gov.au/pay/minimum-wages/apprentice-and-trainee-pay-rates)__, and
  __[some people with disabilities](https://www.fairwork.gov.au/pay/minimum-wages/employees-with-disability-pay-rates)__
  to be paid less than is otherwise mandated. These provisions can vary, or be
  entirely absent, in different industries. (Many industries only apply junior
  rates for under 18s, for instance).

  #### I'VE BEEN UNDERPAID. NOW WHAT?

  For members of the NUW, we will proceed to pursue your claim with the
  information you've provided. First, a letter of demand is sent to your
  employer with the amount that is being sought and a brief explanation of the
  case. Some employers will agree to pay at this stage, or after some
  clarification. When the employer refuses to pay or fails to respond, we will
  proceed to court. Any claim under $20,000 in value can be heard as a 'Small
  Claim' in the Federal Circuit Court.
