%p 
  By the numbers, you were paid #{number_to_currency(@entity.actual_pay_for_employment)}. The legal bare minimum pay for the hours you worked is #{number_to_currency(@entity.base_pay_for_employment)}.

- if @entity.underpaid?
  This means you were underpaid #{number_to_currency(@entity.stolen_wages)}. Want to get it back?
  
  = link_to "Let's fix this!", new_user_path, class: "btn btn-sm btn-default"
