%h2 Campaigns

%table.table
  %thead
    %tr
      %th Name
      %th Slug
      %th
      %th
      %th

  %tbody= render @groups

%hr
.actions.align-right
  = link_to 'New Campaign', new_admin_group_path, class: "btn btn-default"
