// brand colours
$brand-primary: #F5003D;

//== Grid gutter width - WILL make columns look shit if I ever use them!!!
$grid-gutter-width: 0px;

$text-color: #EEEEEE;
$headings-color: #0B8842;

$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-serif: serif;
$font-family-base: $font-family-sans-serif;

$font-size-base: 18px;
$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 14px;
$font-size-h6: 10px;

$line-height-base: 1.6;
$headings-line-height: 1;

$headings-font-weight: 700;

// default button
$btn-default-color: #EEEEEE;
$btn-default-bg: #A50029;
$btn-default-border: #880022;

// body background colour
$body-bg: none;
//$body-bg: #161616;

//== Navbar
// Basics
$navbar-border-radius: 0px;
$navbar-margin-bottom: 0px;
$navbar-padding-horizontal: 10px;
$navbar-default-color: #BBB;
$navbar-default-bg: darken($brand-primary, 25%);
$navbar-default-border: darken($navbar-default-bg, 5%);

$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-hover-color: darken($navbar-default-link-color, 15%);
$navbar-default-link-active-color: darken($navbar-default-link-color, 7.5%);
