.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-order-1 { order: 1; }
.flex-order-2 { order: 2; }
.flex-order-3 { order: 3; }
.flex-order-4 { order: 4; }
.flex-order-5 { order: 5; }
.flex-order-6 { order: 6; }
.flex-order-7 { order: 7; }
.flex-order-8 { order: 8; }
.flex-order-9 { order: 9; }
.flex-order-10 { order: 10; }
.flex-order-11 { order: 11; }
.flex-order-12 { order: 12; }

.flex-max-1 { flex-grow: 1; }
.flex-max-2 { flex-grow: 2; }
.flex-max-3 { flex-grow: 3; }
.flex-max-4 { flex-grow: 4; }
.flex-max-5 { flex-grow: 5; }
.flex-max-6 { flex-grow: 6; }
.flex-max-7 { flex-grow: 7; }
.flex-max-8 { flex-grow: 8; }
.flex-max-9 { flex-grow: 9; }
.flex-max-10 { flex-grow: 10; }
.flex-max-11 { flex-grow: 11; }
.flex-max-12 { flex-grow: 12; }

.flex-min-1 { flex-shrink: 1; }
.flex-min-2 { flex-shrink: 2; }
.flex-min-3 { flex-shrink: 3; }
.flex-min-4 { flex-shrink: 4; }
.flex-min-5 { flex-shrink: 5; }
.flex-min-6 { flex-shrink: 6; }
.flex-min-7 { flex-shrink: 7; }
.flex-min-8 { flex-shrink: 8; }
.flex-min-9 { flex-shrink: 9; }
.flex-min-10 { flex-shrink: 10; }
.flex-min-11 { flex-shrink: 11; }
.flex-min-12 { flex-shrink: 12; }
