html {
  font-size: 62.5%;
  x-overflow: hidden;
  background-color: #FFF;
  /*background-image:url(gplay.svg);*/
}
html, body {
  height: 100%;
}

#top-header {
  max-width: 1024px; /*1280px;*/
  margin: 0 auto;
}
nav, .flex { padding: 0 2rem; }
/*nav li { font-size: 1.4rem }*/
.navbar-default .navbar-toggle { border-color: #AAA; }
.navbar-toggle { border-radius: 0; }
.dropdown-menu { font-size: inherit !important; }

#flash {
  font-style: italic;
}

fieldset > legend {
  font-weight: bold;
  /*color: #0B8842;*/
}

label { font-weight: normal; }
input { color: black; }
/*output {
  font-size: 18px;
  font-size: 1.8rem;
  color: #0B8842;

  padding: 0.5rem;
}*/

.byline { font-weight: normal; }

/* lrohde's fix for stacking date_field */
.do-not-stack {
  width: auto;
  display: inline-block;
}

a.btn {
  color: white;
}
a.manipulator {
  cursor: pointer;
}

main, #banner { 
  display: block;
  max-width: 1024px;  /* 1280px; */
  margin: 0 auto;
  padding: 1rem;
  background-color: #EAEAEA;
  min-height: 100%;
}
@media screen and (min-width: 640px) {
  main, #banner {
    padding: 2rem 5rem;
  }
}
@media screen and (min-width: 1024px) {
  main, #banner {
    padding: 2rem 5rem;
  }
}
main {
  padding-bottom: 70px;
}

.bold {
  font-weight: bold;
}

img {
  max-width: 100%;
}
.align-right { text-align: right; }
footer, aside {
  font-size: 12px; /* fallback for <MSIE9 */
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  footer, aside { font-size: 1.4rem; }
  nav { padding: 0; }
  .flex { padding: 0; margin: 0; }
}
footer.fixed-bottom {
  position: fixed;
  
  width: 100%;
  bottom: 0;
  height: 55px;
  /*line-height: 43px;*/
  padding: 0.6rem;
  margin-top: 2rem;
  z-index: 10;
  background-color: black;
  max-width: 1024px; /* 1280px; */
  left: 0;
}
@media screen and (min-width: 1024px) {
  footer.fixed-bottom {
    left: calc((100% - 1024px) / 2);
    /*left: calc((100% - 1280px) / 2);*/
  }
}
footer.fixed-bottom p {
  margin: 0;
}
.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-justify { justify-content: space-between; }
.flex.between { justify-content: space-between; }
.flex.align-bottom { align-items: flex-end; }
.flex-center { align-items: center; }
.flex-order-1 { order: 1; }
.flex-order-2 { order: 2; }
.flex-order-3 { order: 3; }

.checkbox {
  /*border-radius: 12px;*/
  background-color: #777;
  padding: 0.5rem 1.5rem;
}
.checkbox input[type="checkbox"] {
  margin-top: 10px;
}
.checkbox + .checkbox {
  margin-top: 1rem;
}
.checkbox > label {
  width: 100%;
}

.letter {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0;
}
.table-sm {
  font-size: 14px;
  font-size: 1.4rem;
}

/* Select2 style fixes */
.select2-results {
  color: #666;
}

.select2-container--bootstrap .select2-selection--single {
  height: 42px !important;
}

.select2-selection {
  font-family: 'Open Sans' !important;
  font-size: 18px !important;
  line-height: 1.6 !important;
  color: #555;
}

/* Animated ellipsis for loading AJAX content */
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 1200ms infinite;      
  animation: ellipsis steps(4,end) 1200ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
  margin-right: 20px;
}

@keyframes ellipsis {
  to {
    width: 20px;
    margin-right: 0px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
    margin-right: 0px;
  }
}
