html {
  font-size: 62.5%;
  x-overflow: hidden;
}

body {
  max-width: 768px;
  margin: 4rem auto;
  padding: 0 1rem;

  line-height: 1.8;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: serif;

  background-color: #CCC;
  color: #333;
}

label { font-weight: normal; }
output {
  font-size: 18px;
  font-size: 1.8rem;
  color: #4b2aaf;

  padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6 { line-height: 1.2; font-weight: 700; }
.byline { font-weight: normal; }

a {
  text-decoration: none;
  color: #fa4b2a;
}
a:visited { color: #fa4b2a; }
a:hover {
  color: #fa4b2a;
  text-decoration: underline;
  cursor: pointer;
}
a.btn {
  color: white;
}

main { display: block; }
header, footer, .align-right { text-align: right; }
footer, aside {
  font-size: 14px; /* fallback for <MSIE9 */
  font-size: 1.4rem;
}
footer { margin-top: 4rem; }
