%h1 Claims for review
= link_to 'Invite someone', new_user_invitation_path, class: "btn btn-default btn-sm"

%table.table
  %thead
    %tr
      %th Status
      %th Name
      %th{ class: "hidden-xs" } Employer
      %th{ class: "hidden-xs" } Hourly rate
      %th{ class: "hidden-xs" } Hours claimed
      %th{ class: "hidden-xs" } Lost wages
      %th

  %tbody
    -# TODO make a partial here. It's already worth it but the pattern may see
            yet more use!
    %tr
      %td{ colspan: 7 }
        %em Submitted Claims
    - if @submitted_users.any?
      - @submitted_users.each do |user|
        = render partial: 'admin/users/row', locals: { user: user }
    - else
      %tr
        %td{ colspan: 7 }
          No submitted claims
    %tr
      %td{ colspan: 7 }
        %em Complete Claims
    - if @ready_users.any?
      - @ready_users.each do |user|
        = render partial: 'admin/users/row', locals: { user: user }
    - else
      %tr
        %td{ colspan: 7 }
          No complete claims
    -# %tr
    -#   %td{ colspan: 7 }
    -#     Incomplete Claims
    -# - @unready_users.each do |user|
    -#   = render partial: 'admin/users/row', locals: { user: user }
