= link_to "Create new stage", new_admin_claim_stage_path, class: "btn btn-default pull-right"
%hgroup
  :markdown
    # Claim stages
    #### Viewing in locale: `#{I18n.locale}`
%br

= render @claim_stages
