%hgroup
  :markdown
    # Claim stages
    #### Viewing in locale: `#{I18n.locale}`
%hr

= render @claim_stages

.actions.align-right
  = link_to "Create new stage", new_admin_claim_stage_path, class: "btn btn-default"
