%hgroup
  :markdown
    ## Claim stages
    #### Viewing in locale: `#{I18n.locale}`

%table.table.table-sm
  %thead
    %tr
      %th Category
      %th System name
      %th Display name
      %th
      %th

  %tbody= render @claim_stages
  
%hr

.actions.align-right
  = link_to "Create new stage", new_admin_claim_stage_path, class: "btn btn-default"
