%table.table
  %thead
    %tr
      %th Status
      %th Name
      %th{ class: "hidden-xs" } Employer
      %th{ class: "hidden-xs" } Hourly rate
      %th{ class: "hidden-xs" } Hours claimed
      %th{ class: "hidden-xs" } Lost wages
      %th

  %tbody#user-list
    - if @claims.any?
      - @claims.each do |claim|
        = render partial: "admin/claims/#{@view_context}_row", locals: { claim: claim }
    - else
      %tr
        %td{ colspan: 7 }
          No claims to display
