%table.table
  %thead
    %tr
      %th Sections complete
      %th Name
      %th Email
      %th Mobile?
      %th

  %tbody#user-list
    - if @claims.any?
      - @claims.each do |claim|
        = render partial: "admin/claims/#{@view_context}_row", locals: { claim: claim }
    - else
      %tr
        %td{ colspan: 5 }
          No claims to display
