%table.table.table-sm
  %thead
    %tr
      %th Status
      %th Name
      %th{ class: "hidden-xs" } Employer
      %th{ class: "hidden-xs" } Hourly rate
      %th{ class: "hidden-xs" } Hours claimed
      %th{ class: "hidden-xs" } Lost wages
      %th

  %tbody#user-list
    = render(claims) || content_tag(:tr, content_tag(:td, "No claims to display", colspan: 7))
